@charset "utf-8";

body {
    font-family: 'Noto Sans JP',"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
button {
    border: 0;
}
/* section */
.section{
    padding: 30px 15px;
}
.section-headline{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;

}
.section.section-secounday {
    background:#efefef
}
.section-button {
    margin: 40px 0 0;
    text-align: center;
}
@media screen and (max-width: 768px){
    .section {
        padding: 20px 10px;
    }
    .section-headline{
        font-size:  30px;
        margin: 0 0 20px;
    }
    .section-button {
        margin:20px 0 0;
    }
}

/* hero */
.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero > strong {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: rgb(243, 238, 238);
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}
.hero > h2 {
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: rgb(243, 238, 238);
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}
.hero > video {
    z-index: 1;
    position: absolute;
    width: auto;
    height: 120%;
}
.hero-particles {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .hero > strong {
        font-size: 50px;
    }
    .hero > h2 {
        font-size: 25px;
    }
}

/* about */
.about{
    margin: 0;
    display: flex;
}
.about-image{


}
.about-caption{
    padding-left: 15px;
}
.about-headline{
    margin: 0 0 0px;
    font-size: 30px;
}
.about-description {
    padding: 0px;
}
.about-caption > h5{
    border-bottom: 1px solid;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .about{
        display: block;
    }
    .about-image {
        max-width: 100%;
        font-size: 30px;
    }
}
/* header */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.header-logo{
    margin: 0;
}
.header-logo > a {
    display: block;
}
.header-nav{}
.header-navlist{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navitem > a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition:  border-color .25s;
}
.header-navitem > a:hover{
    border-bottom: 2px solid #333;
}

@media screen and (max-width: 768px){
    .header{
        font-size: 12px;
    }
}
/* skill */

.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.grid-col-2 > .grid-item{
    width: 50%;
}
.grid-col-3 > .grid-item{
    width: 33.3%;
}
.grid-col-4 > .grid-item{
    width: 25%;
}
.grid-item{
    list-style: none;
}

@media screen and (max-width: 768px){
    .grid{
        display: block;
    }
    .grid-col-2 > .grid-item,
    .grid-col-3 > .grid-item,
    .grid-col-4 > .grid-item {
        width: 100%;
        margin: 20px 0;
    }
}
/* skill */
.skill {
    text-align: center;
    padding: 0 15px;
}
.skill-headline {
    font-weight: bold;
    margin: 0 0 20px;
}
.skill-img {
    margin: 0 0 20px;
}
.skill-description{
    margin: 0px;
    text-align: left;
}

/* card */
/* .card {
    padding: 0 10px;

}
.card-label {

    position: absolute;
    background-color: #999;
    color: #fff;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    left: 0;
    top: 0;
}
.card-link {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    transition: background-color .5s;
}
.card-link:hover {
    background-color: #eee;
}
.card-img {
    width: 100%;
    height: auto;
}
.card-info{
    padding: 5px 10px;
}
.card-time
.card-headline{
    max-width: 0;
}
.card-description{
    margin: 0;
} */

/* avotor */
.avator{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
.avator-name{
    font-weight: bold;
    padding-left: 15px;
}
.avator-image {
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

/* button */
.button{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    transition: box-shadow .25s;
}
.button:hover {
    box-shadow: 0 0 0 #bbb;
}
.button.button-submission {
    background: #92d3ca;
}

/* contact */
.form {
    display: block;
    margin-top: 0em;

}
.form-table {
    margin: 0 auto;

}
.form-table th {
    padding: 10px;
    text-align: left;
}
.form-table td {
    padding: 10px;
}

@media screen and (max-width: 768px){
    .form-table,
    .form-table tbody,
    .form-table tr,
    .form-table th,
    .form-table td {
        display: block;
    }
}
.select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.radio {
    padding: 0 10px;
}
.textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
    min-height: 100px;
}
.form-button {
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .select,
    .input,
    .textarea {
        min-width: auto;
        width: 100%;
    }
    
}

/* works */
.works {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
}
.works > img {
    margin: 0 15px;
}
@media screen and (max-width: 768px) {
    .works {
        margin: 20px 0;
        padding: 10px;
    }
    .works >img {
        width: 100px;
        margin: 5px;
    }
}

/* footer */
.footer {
    background-color: #333;
    color: #fff;
}
.footer-map {
    margin: 0;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-map > iframe {
    width: 60%;
}
.footer-mapinfo {
    width: 40%;
    padding: 15px;
}
.footer-maplogo {
    font-size: 25px;
    font-weight: bold;
}
.footer-mapaddress {
    font-style: normal;
}
.footer-mapaddress > a{
    color: #fff;
}
.footer-line {
    border-color: #444;
}
.footer-copy {
    display: block;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .footer-map {
        padding: 15px;
        display: block;
    }
    .footer-map > iframe {
        width: 100%;
        height: 200px;
    }
    .footer-mapinfo {
        width: 100%;
        text-align: center;
    }
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
     margin:0 auto;
 }
 
 .slider img {
     width:100%;/*スライダー内の画像を横幅100%に*/
     height:auto;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
 }
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
     text-align:center;
   margin:20px 0 0 0;
 }
 
 .slick-dots li {
     display:inline-block;
   margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }